// Colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;
$grey: #2f3234cc;

// Resolutions
$desktop: 1200px;
$tablets: 768px;
$phones: 480px;
$small: 375px;

// Settings
@import "./settings/mixins"; //миксины
@import "./settings/*.scss";

//Sections
@import "./section/*.scss";

//Dynamic elements
@import "./dynamic_elements/*.scss";