@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font-size: 1rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  position: relative;
  color: #2f3234;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  height: 100%;
  min-height: 40.625rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  @media screen and (max-width: 768px) {
    .container {
      min-height: 0rem; } }
  @media screen and (max-width: 480px) {
    .container {
      min-height: 0rem; } }
  @media screen and (max-width: 375px) {
    .container {
      min-height: 0rem; } }

.section {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section {
      background-position: center center; } }
  @media screen and (max-width: 480px) {
    .section {
      background-position: center center; } }
  @media screen and (max-width: 375px) {
    .section {
      background-position: center center; } }

.content {
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.title {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 4.5rem;
      white-space: nowrap; } }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.9375rem;
      white-space: nowrap; } }
  @media screen and (max-width: 375px) {
    .title {
      font-size: 3.375rem;
      white-space: nowrap; } }

.title.title--black {
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .title.title--black {
      white-space: inherit; } }
  @media screen and (max-width: 375px) {
    .title.title--black {
      white-space: inherit; } }

.title.title--white {
  color: white; }

.title.title--orange {
  color: #e45028; }

.map {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("./../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("./../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("./../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("./../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("./../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

.header {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 4.3125rem; }
  @media screen and (max-width: 375px) {
    .header__btns {
      margin-left: 1.25rem; } }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header__menu {
      display: none; } }

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: white;
    margin: 0 1.5rem; }
  .nav__item:last-child {
    margin-right: 0rem; }
    .nav__item:last-child:after {
      display: none; }

.nav__link {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  white-space: pre;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }
  .nav__link:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-weight: 600; }
  .nav__link:before {
    content: attr(data-title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block; }

.button {
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 2rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button:hover {
    background-color: #d7431b; }

/*меню для планшетов и телефонов*/
@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 1.5625rem; } }

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 1.25rem; } }

.menu-link {
  display: none; }
  @media screen and (max-width: 768px) {
    .menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      vertical-align: middle;
      position: relative;
      height: 1.375rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 1.875rem;
      margin-right: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      vertical-align: middle;
      position: relative;
      height: 1.375rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 1.875rem;
      margin-right: 1.5rem; } }

.menu-link__bars, .menu-link__bars:before, .menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.menu-link__bars:before, .menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.menu-link__bars:before {
  top: 0; }

.menu-link__bars:after {
  bottom: 0; }

.footer {
  background: url("./../images/footer_bg.jpg") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.25rem;
      width: 100%;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__col {
  margin-left: 5rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%;
      margin-top: 1.125rem;
      margin-bottom: 1.125rem;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0rem; } }

.footer__col:last-child {
  margin-left: 0rem; }

.footer__address {
  color: #ffffff;
  font-size: 1rem;
  line-height: 0.9;
  margin-top: 0.5rem; }
  @media screen and (max-width: 480px) {
    .footer__address {
      margin-top: 0rem; } }

.footer__phone {
  margin-top: 0.3125rem;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .footer__phone {
      margin-bottom: 0.625rem;
      text-align: center; } }

.footer__phone-icon {
  margin-right: 0.5rem;
  margin-left: 0.1rem;
  width: 0.75rem;
  height: 0.75rem; }

.footer__phone-link {
  color: #e35028;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.875rem; }

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .footer__col_right {
      margin-top: 0rem;
      margin-bottom: 1.3125rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 0.75rem; }

.socials__item:last-child {
  margin-right: 0; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem; }

.main {
  background-image: url("./../images/heading_bg.jpg"); }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.main-content__left, .main-content__right {
  width: 50%; }

@media screen and (max-width: 768px) {
  .main-content__right {
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .main-content__right {
    margin-top: 3.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 375px) {
  .main-content__right {
    margin-top: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.main-content__subtitle {
  font-size: 4.0625rem;
  line-height: 0.95em;
  color: white;
  font-family: 'Lifehack-Medium';
  text-transform: lowercase; }
  @media screen and (max-width: 768px) {
    .main-content__subtitle {
      font-size: 4.0625rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .main-content__subtitle {
      font-size: 3.375rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .main-content__subtitle {
      font-size: 2.6875rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.main-content__img {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%; }

.arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 3.75rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .arrow:hover .arrow__icon {
    margin-top: -0.75rem; }

.arrow__icon {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff; }

.we-best {
  background-image: url("./../images/best_bg.jpg"); }

.content--we-best {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center center; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.4375rem; }
  @media screen and (max-width: 480px) {
    .advantages {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 375px) {
    .advantages {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2.1875rem; } }

.advantages__item {
  margin-right: 2.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .advantages__item {
      margin-right: 0rem;
      margin-bottom: 3.125rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 375px) {
    .advantages__item {
      margin-right: 0rem;
      margin-bottom: 1.875rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.advantages__item:last-child {
  margin-right: 0rem; }
  @media screen and (max-width: 480px) {
    .advantages__item:last-child {
      margin-bottom: 0rem; } }
  @media screen and (max-width: 375px) {
    .advantages__item:last-child {
      margin-bottom: 0rem; } }

.advantages__icon {
  width: 90%;
  height: 5.5625rem; }
  .advantages__icon svg {
    max-width: 95%; }
  @media screen and (max-width: 480px) {
    .advantages__icon {
      width: 30%;
      -ms-flex-negative: 0;
      flex-shrink: 0; } }
  @media screen and (max-width: 375px) {
    .advantages__icon {
      width: 20%;
      -ms-flex-negative: 0;
      flex-shrink: 0; } }

.advantages__desc {
  text-align: center;
  margin-top: 2.0625rem; }
  @media screen and (max-width: 480px) {
    .advantages__desc {
      margin-left: 2.1875rem;
      margin-top: 0rem;
      text-align: left; } }
  @media screen and (max-width: 375px) {
    .advantages__desc {
      margin-left: 1.25rem;
      margin-top: 0rem;
      text-align: left; } }

.advantages__title {
  font-size: 1.5rem;
  font-family: 'Lifehack-Medium';
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .advantages__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 375px) {
    .advantages__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.125rem; } }

.advantages__text {
  text-align: justify;
  margin-top: 1.5625rem;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  line-height: normal;
  color: #2f3234cc; }
  @media screen and (max-width: 375px) {
    .advantages__text {
      margin-top: 0.9375rem; } }

.burger {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#e45028), to(#f9b43b));
  background-image: -webkit-linear-gradient(top, #f9b43b, #e45028, #f9b43b);
  background-image: -o-linear-gradient(top, #f9b43b, #e45028, #f9b43b);
  background-image: linear-gradient(to bottom, #f9b43b, #e45028, #f9b43b); }

.content__burger {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.arrow-slaider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.arrow--left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center; }
  .arrow--left:hover {
    -webkit-transform: translateX(-5px) rotate(90deg);
    -ms-transform: translateX(-5px) rotate(90deg);
    transform: translateX(-5px) rotate(90deg);
    cursor: pointer; }

.arrow--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center; }
  .arrow--right:hover {
    cursor: pointer;
    -webkit-transform: translateX(5px) rotate(-90deg);
    -ms-transform: translateX(5px) rotate(-90deg);
    transform: translateX(5px) rotate(-90deg); }

.arrow--icon {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff; }

.team {
  background-image: url("./../images/team_bg.jpg"); }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team__section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 4% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .team__section {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.title--team {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title--team {
      margin-bottom: 3.0625rem; } }
  @media screen and (max-width: 480px) {
    .title--team {
      margin-bottom: 2rem; } }
  @media screen and (max-width: 375px) {
    .title--team {
      margin-bottom: 0.9375rem; } }

.menu {
  background-image: url("./../images/menu_bg.jpg"); }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.review__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .review__item {
      width: 50%;
      height: 25%; } }
  @media screen and (max-width: 480px) {
    .review__item {
      width: 50%;
      height: 25%; } }

.review__picture {
  position: relative;
  width: 100%;
  height: 100%; }
  .review__picture:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .review__picture:hover .overlay {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
    @media screen and (max-width: 768px) {
      .review__picture:hover .overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (max-width: 480px) {
      .review__picture:hover .overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .review__picture:hover:after {
    background: rgba(20, 20, 20, 0.7); }

.review__avatar {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 5% 12% 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 10; }

.overlay__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .overlay__title {
      font-size: 0.875rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .overlay__title {
      font-size: 1.5rem;
      text-align: center; } }

.overlay__text {
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 1.0625rem; }
  @media screen and (max-width: 480px) {
    .overlay__text {
      display: none; } }

.overlay__button {
  border-radius: 0.3125rem;
  background-color: #2f3234cc;
  padding: 0.625rem 0.625rem;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .overlay__button:hover {
    background-color: rgba(35, 37, 39, 0.8); }

.process {
  background-image: url("./../images/we_work_bg.png"); }

.video {
  margin-top: 3.125rem;
  width: 41.25rem;
  height: 23.125rem; }
  @media screen and (max-width: 768px) {
    .video {
      margin-top: 3.75rem;
      width: 45rem;
      height: 25.4375rem; } }
  @media screen and (max-width: 480px) {
    .video {
      margin-top: 3.75rem;
      width: 28.75rem;
      height: 15.875rem; } }
  @media screen and (max-width: 375px) {
    .video {
      margin-top: 2.5rem;
      width: 21.25rem;
      height: 11.6875rem; } }

.form {
  background-image: url("./../images/order_bg.jpg");
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__wrapper {
  margin: 4.125rem 4.375rem; }
  @media screen and (max-width: 768px) {
    .form__wrapper {
      margin: 9.5rem 9.375rem; } }
  @media screen and (max-width: 480px) {
    .form__wrapper {
      margin: 3.125rem 0.75rem; } }
  @media screen and (max-width: 375px) {
    .form__wrapper {
      margin: 1.25rem 0.75rem; } }

.form__content {
  margin-top: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__content {
      margin-top: 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin-top: 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__content--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1.25rem;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .form__content--left {
      margin-right: 0rem;
      margin-bottom: 1.25rem; } }
  @media screen and (max-width: 375px) {
    .form__content--left {
      margin-right: 0rem;
      margin-bottom: 0.625rem; } }

.form__content--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.form__raw {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 375px) {
    .form__raw {
      margin-bottom: 0.625rem; } }

.form__raw:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 480px) {
  .form__raw--adaptive {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.form__label {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

@media screen and (max-width: 480px) {
  .form__label--flor {
    display: none; } }

@media screen and (max-width: 480px) {
  .form__label--flat {
    margin-right: 0rem; } }

.form__label:last-child {
  margin-right: 0; }

.form__subtitle {
  font-family: 'Ubuntu';
  display: block;
  font-weight: normal;
  font-size: 0.875rem;
  text-align: left;
  color: #fff;
  margin-bottom: 0.4375rem; }

.form__input {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  border: 0.125rem solid transparent;
  background-color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2f3234;
  padding: 0.3125rem 0.3125rem;
  border-radius: 0.3125rem;
  width: 100%;
  height: 2.25rem; }
  @media screen and (max-width: 375px) {
    .form__input {
      height: 1.875rem; } }

.form__input:focus {
  border-color: #f9b43b; }

.form__textarea {
  resize: none;
  height: 6.875rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent; }
  @media screen and (max-width: 375px) {
    .form__textarea {
      height: 5.625rem; } }

.form__radio {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__button {
  text-align: right;
  margin-right: 1.25rem; }

.form__button:last-child {
  margin-right: 0rem; }

.dismiss {
  background-color: transparent; }

.form__radio-input {
  display: none; }

.form__radio-fake {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.form__radio-fake:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background-color: #e35028;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form__radio-input:checked + .form__radio-fake {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-color: #e35028; }

.form__radio-input:checked + .form__radio-fake:after {
  height: 6px;
  width: 6px; }

.form__radio-label {
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.form__radio-label:last-child {
  margin-right: 0; }

.form__radio-text {
  font-family: 'Ubuntu';
  font-weight: 300;
  display: inline-block;
  margin-left: 0.625rem;
  font-size: 0.875rem;
  text-align: left;
  color: #fff; }

.form__radio--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu--other {
  margin-left: -0.4375rem; }

.button--delivery {
  font-size: 0.8125rem;
  padding: 0.625rem 0.625rem;
  cursor: pointer; }

.checkbox-custom {
  display: none; }

.checkbox-custom-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  cursor: pointer; }

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-right: 0.625rem; }

.checkbox-custom:checked + .checkbox-custom-label:after {
  content: "";
  padding: 0.125rem;
  position: absolute;
  height: 0.25rem;
  border: solid #e45028;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 4px;
  left: 6px; }

.form__checkbox--text {
  font-family: 'Ubuntu';
  font-weight: 300;
  display: inline-block;
  font-size: 0.875rem;
  text-align: left;
  color: #fff; }

@media screen and (max-width: 480px) {
  .title--team {
    white-space: inherit; } }

@media screen and (max-width: 375px) {
  .title--team {
    line-height: normal; } }

.modul {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 50, 52, 0.99);
  z-index: 1; }

.modul__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 0.3125rem 1.25rem 0.8125rem 1.25rem;
  border-radius: 0.625rem;
  background: #fff;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .modul__wrapper {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .modul__wrapper {
      width: 80%; } }
  @media screen and (max-width: 375px) {
    .modul__wrapper {
      width: 80%; } }

.modul-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.modul__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 0;
  margin-bottom: 0; }

.modul__title {
  font-family: Ubuntu;
  font-size: 1.125rem;
  margin-top: 0.9375rem; }

.modul__text {
  font-family: Ubuntu; }

.modul-close__cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 0.9375rem;
  cursor: pointer; }

.modul-close__cross:before, .modul-close__cross:after {
  position: absolute;
  content: '';
  height: 1.4375rem;
  width: 0.25rem;
  background-color: #e45028;
  border-radius: 0.625rem; }

.modul-close__cross:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.modul-close__cross:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.section--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__phones {
  display: none; }
  @media screen and (max-width: 768px) {
    .slider__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 480px) {
    .slider__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 375px) {
    .slider__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  color: #fff;
  font-size: 0.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.25rem;
  margin-right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .content__description {
      margin-left: 0rem;
      margin-right: 0rem; } }
  @media screen and (max-width: 480px) {
    .content__description {
      margin-left: 0rem;
      margin-right: 0rem; } }
  @media screen and (max-width: 375px) {
    .content__description {
      margin-left: 0rem;
      margin-right: 0rem; } }

.slaider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slaider__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .slaider__left {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .slaider__left {
      width: 100%; } }
  @media screen and (max-width: 375px) {
    .slaider__left {
      width: 100%; } }

.slaider__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .slaider__right {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .slaider__right {
      width: 100%; } }
  @media screen and (max-width: 375px) {
    .slaider__right {
      width: 100%; } }

.slaider__deactive {
  display: none; }
  @media screen and (max-width: 768px) {
    .slaider__deactive {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .slaider__deactive {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 375px) {
    .slaider__deactive {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.slider__composition {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5.625rem;
  height: 5.625rem;
  background: #F08C33;
  border-radius: 8px;
  cursor: pointer;
  position: relative; }
  .slider__composition:hover {
    background: #e35028; }
  @media screen and (max-width: 375px) {
    .slider__composition {
      width: 4.6875rem;
      height: 4.6875rem; } }

.slider__composition:hover .composition__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .slider__composition--phones {
    display: none; } }

@media screen and (max-width: 480px) {
  .slider__composition--phones {
    display: none; } }

@media screen and (max-width: 375px) {
  .slider__composition--phones {
    display: none; } }

.slider__burger-icon {
  height: 2.875rem;
  width: 2.875rem;
  margin-top: 0.25rem; }
  @media screen and (max-width: 375px) {
    .slider__burger-icon {
      height: 2.875rem;
      width: 2.875rem;
      margin-top: 0.125rem; } }

.composition__hover {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #2f3234;
  top: 0;
  left: 100%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .composition__hover {
      top: 0;
      left: 100%; } }
  @media screen and (max-width: 480px) {
    .composition__hover {
      top: 0;
      left: 100%; } }
  @media screen and (max-width: 375px) {
    .composition__hover {
      top: 0;
      left: 100%; } }

.hover__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hover__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.8125rem;
  margin-left: 1.25rem; }
  .hover__item:first-child {
    margin-top: 1.125rem; }

.hover__icon {
  width: 2.8125rem;
  height: 2.8125rem;
  margin-right: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .hover__icon {
      margin-right: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .hover__icon {
      margin-right: 1.25rem; } }
  @media screen and (max-width: 375px) {
    .hover__icon {
      margin-right: 0.625rem; } }

.hover__component {
  margin-right: 4.1875rem;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .hover__component {
      margin-right: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .hover__component {
      margin-right: 1.25rem; } }
  @media screen and (max-width: 375px) {
    .hover__component {
      margin-right: 0.625rem; } }

.hover__weigth {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .hover__weigth {
      margin-right: 3.25rem; } }
  @media screen and (max-width: 480px) {
    .hover__weigth {
      margin-right: 3.25rem; } }
  @media screen and (max-width: 375px) {
    .hover__weigth {
      margin-right: 3.25rem; } }

.hover__close {
  display: none;
  position: absolute;
  right: 28px;
  top: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .hover__close {
      display: inline-block; } }
  @media screen and (max-width: 480px) {
    .hover__close {
      display: inline-block; } }
  @media screen and (max-width: 375px) {
    .hover__close {
      display: inline-block; } }

.hover__close:before, .hover__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 4px;
  background-color: #eb8262;
  border-radius: 0.625rem; }

.hover__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.hover__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.slider__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  max-width: 471px; }

.slider__list {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  list-style: none;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform .35s;
  transition: -webkit-transform .35s;
  -o-transition: transform .35s;
  transition: transform .35s;
  transition: transform .35s, -webkit-transform .35s;
  will-change: transform;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.slider__pic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__pic {
  max-height: 100%;
  max-width: 100%; }

.slider__calories-picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  width: 3.75rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .slider__calories-picture--phones {
    display: none; } }

@media screen and (max-width: 480px) {
  .slider__calories-picture--phones {
    display: none; } }

@media screen and (max-width: 375px) {
  .slider__calories-picture--phones {
    display: none; } }

.slider__calories-icon {
  width: 3.75rem;
  height: 3.75rem; }
  @media screen and (max-width: 375px) {
    .slider__calories-icon {
      width: 3.75rem;
      height: 3.75rem; } }

.slider__calories-number {
  position: absolute;
  font-size: 1.25rem; }

.slaider__right--subtitle {
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  margin-top: 3.5rem;
  margin-bottom: 2.25rem; }
  @media screen and (max-width: 768px) {
    .slaider__right--subtitle {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slaider__right--subtitle {
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .slaider__right--subtitle {
      text-align: center;
      margin-top: 1.875rem;
      margin-bottom: 1.25rem; } }

.slaider__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 768px) {
    .slaider__footer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .slaider__footer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 375px) {
    .slaider__footer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.title__footer {
  font-size: 4.5rem;
  color: #e45028;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif; }
  @media screen and (max-width: 768px) {
    .title__footer {
      font-size: 4.5rem;
      white-space: nowrap; } }
  @media screen and (max-width: 480px) {
    .title__footer {
      font-size: 3.1875rem;
      white-space: nowrap; } }
  @media screen and (max-width: 375px) {
    .title__footer {
      font-size: 1.875rem;
      white-space: nowrap; } }

.title__footer--subtitle {
  margin-left: 0.625rem;
  margin-right: 1.875rem;
  font-size: 1.875rem; }
  @media screen and (max-width: 768px) {
    .title__footer--subtitle {
      font-size: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .title__footer--subtitle {
      font-size: 1.5rem; } }
  @media screen and (max-width: 375px) {
    .title__footer--subtitle {
      font-size: 1.125rem; } }

.title--burger {
  line-height: 0.89; }
  @media screen and (max-width: 768px) {
    .title--burger {
      font-size: 4.5rem;
      white-space: normal;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .title--burger {
      font-size: 3.125rem;
      white-space: normal;
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .title--burger {
      font-size: 1.75rem;
      white-space: normal;
      text-align: center; } }

.team-acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-acco__item {
  margin-bottom: 2.1875rem; }
  .team-acco__item.team-acco__item--active .content-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 12.5rem; }
    @media screen and (max-width: 768px) {
      .team-acco__item.team-acco__item--active .content-team {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .team-acco__item.team-acco__item--active .content-team {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media screen and (max-width: 375px) {
      .team-acco__item.team-acco__item--active .content-team {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .team-acco__item.team-acco__item--active .team-acco__link {
    color: #f9b43b; }
    .team-acco__item.team-acco__item--active .team-acco__link:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team-acco__item {
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .team-acco__item {
      text-align: center;
      margin-bottom: 0.9375rem; } }

.team-acco__item:last-child {
  margin-bottom: 0rem; }

.team-acco__link {
  font-family: 'Gagalin-Regular';
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .team-acco__link:before, .team-acco__link:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; }
  .team-acco__link:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.4375rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: 0deg;
    -ms-transform: 0deg;
    transform: 0deg;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  @media screen and (max-width: 768px) {
    .team-acco__link {
      font-size: 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .team-acco__link {
      font-size: 1.5625rem; } }
  @media screen and (max-width: 375px) {
    .team-acco__link {
      font-size: 1.5625rem; } }

.content-team {
  width: 100%;
  height: 0rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  height: auto;
  max-height: 0rem; }
  @media screen and (max-width: 768px) {
    .content-team {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .content-team {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 375px) {
    .content-team {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.content-team__avatar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 1.3125rem; }
  @media screen and (max-width: 768px) {
    .content-team__avatar {
      margin-right: 0rem;
      margin-bottom: 1.375rem; } }
  @media screen and (max-width: 480px) {
    .content-team__avatar {
      margin-right: 0rem;
      margin-bottom: 1.375rem; } }
  @media screen and (max-width: 375px) {
    .content-team__avatar {
      margin-right: 0rem;
      margin-bottom: 0.625rem;
      width: 5rem;
      height: 5rem; } }

.avatar-pic {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.text {
  font-family: Ubuntu;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  letter-spacing: normal;
  text-align: left; }

.text__header {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.17; }
  @media screen and (max-width: 768px) {
    .text__header {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .text__header {
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .text__header {
      text-align: center; } }

.text__body {
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 0.625rem; }
  @media screen and (max-width: 768px) {
    .text__body {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .text__body {
      text-align: center; } }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  height: 100%; }
  .menu-acco__item.menu-acco__item--active .menu-acco__layout {
    background-color: rgba(47, 50, 52, 0.8); }
  .menu-acco__item.menu-acco__item--active .menu-acco__title {
    color: #f9b43b; }
  .menu-acco__item.menu-acco__item--active .menu-acco__desc {
    max-width: 31.25rem; }
    @media screen and (max-width: 768px) {
      .menu-acco__item.menu-acco__item--active .menu-acco__desc {
        max-width: 32.5rem; } }

.menu-acco__link {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif; }
  .menu-acco__link.meat {
    background-image: url("./../images/meat_bg.jpg"); }
  .menu-acco__link.vegan {
    background-image: url("./../images/vegan_bg.jpg"); }
  .menu-acco__link.diet {
    background-image: url("./../images/diet_bg.jpg"); }
  @media screen and (max-width: 480px) {
    .menu-acco__link {
      width: 3rem; } }

.menu-acco__title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: -3.375rem; }

.menu-acco__desc {
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  width: auto;
  max-width: 0rem; }

.menu-acco__text {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.8;
  width: auto;
  padding: 3.125rem 3rem 0; }
  @media screen and (max-width: 480px) {
    .menu-acco__text {
      padding: 2.1875rem 1.875rem 0; } }
  @media screen and (max-width: 375px) {
    .menu-acco__text {
      padding: 1.75rem 1.25rem 0; } }

.menu-acco__layout {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.5);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.menu-phone {
  display: none;
  z-index: 1; }

.menu-phone__wrapper {
  background: rgba(47, 50, 52, 0.99);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu-phone__logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.25rem;
  margin-left: 1.5625rem; }

.menu-phone__img {
  max-height: 100%;
  max-width: 100%; }

.menu-phone__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }

.menu-phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .menu-phone__item:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    background: #fff;
    margin: 0.9375rem 0; }
  .menu-phone__item:last-child::after {
    display: none; }
  .menu-phone__item:hover {
    text-decoration: underline; }

.menu-phone__close {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 15px;
  height: 15px;
  cursor: pointer; }

.menu-phone__close:before, .menu-phone__close:after {
  position: absolute;
  right: 40px;
  top: 0;
  content: ' ';
  height: 23px;
  width: 4px;
  background-color: #c1c2c2;
  border-radius: 0.625rem; }

.menu-phone__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-phone__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-phone__link {
  font-family: Ubuntu;
  font-size: 1.5rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  white-space: pre;
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
