// Colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;
$grey: #2f3234cc;

// Resolutions
$desktop: 1200px;
$tablets: 768px;
$phones: 480px;
$small: 375px;

// Settings
@import "./settings/mixins"; //миксины
@import "./settings/common.scss"; //общие стили
@import "./settings/fonts.scss"; //шрифты
@import "./settings/zeroing.scss"; //сброс стандартных значений
@import "./settings/header.scss"; //стили для шапки
@import "./settings/footer.scss"; //стили для подвала


//Sections
@import "./section/sectionMainScreen.scss"; //стили главной страницы
@import "./section/sectionWeBest.scss"; //стили страницы "мы лучшие" 
@import "./section/sectionBurger.scss"; //стили страницы "бургеры"
@import "./section/sectionTeam.scss"; //стили страницы "команда" 
@import "./section/sectionMenu.scss"; //стили страницы "меню" 
@import "./section/sectionReview.scss"; //стили страницы "отзывы" 
@import "./section/sectionWeWork.scss"; //стили страницы "как мы работаем" 
@import "./section/sectionDelivery.scss"; //стили страницы "закажи сейчас" 
@import "./section/modulWindow.scss"; //стили модального окна 
@import "./section/sectionActive.scss"; //стили активной секции 

//Dynamic elements
@import "./dynamic_elements/slider.scss"; //слайдер
@import "./dynamic_elements/teamAccardeon.scss"; //аккардеон страницы "команда"
@import "./dynamic_elements/menuAccardeon.scss"; //аккардеон страницы "меню"
@import "./dynamic_elements/menuNavPhone.scss"; //окно с навигацией для адаптива