.footer {
    background: url('./../images/footer_bg.jpg') center bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(60px);  
    display: flex;
    @include phones {
        height: rem(116px);
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include tablets {
        height: rem(130px);
    }
}
  
.footer__col {
    margin-left: rem(80px);
    width: 100%;
    align-items: center;

    @include phones {
        width: 100%;
        margin-top: rem(18px);
        margin-bottom: rem(18px);
        text-align: center;
        align-items: center;
        margin-left: rem(0px);
    }

   /* @include tablets {
        height: rem(130px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }*/
}

.footer__col:last-child {
    margin-left: rem(0px);
}
  
.footer__address {
    color: #ffffff;
    font-size: 1rem;
    line-height: 0.9;
    margin-top: rem(8px);

    
    @include phones {
        margin-top: rem(0px);
    }
}
  
.footer__phone{
    margin-top: rem(5px);
    margin-bottom: rem(10px);
    @include phones{
        margin-bottom:rem(10px);
        text-align:center;
    }
}
  
.footer__phone-icon{
    margin-right:rem(8px);
    margin-left: 0.1rem;
    width:rem(12px);
    height: rem(12px);
}
  
.footer__phone-link {
    color: $red;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: rem(14px);;
}
  
.footer__col_right {
    text-align: right;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    @include phones {
        margin-top: rem(0px);
        margin-bottom: rem(21px);
        justify-content: center;
    }
   /* @include tablets {
        align-items: center;
    }*/
}  

.socials {
    top: 50%;
    display: flex;
    align-items: center;
  }
  
.socials__item {
    margin-left: rem(12px);
}

.socials__item:last-child {
    margin-right: 0;
}
  
.socials__link {
    display: inline-block;
    max-width: rem(23px);
    max-height: rem(20px);
    opacity: .3;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
}
  
.socials__link-icon {
    width: rem(20px);
    height: rem(20px);
}