.team-acco {
	display: flex;
	flex-direction: column;
}

.team-acco__item {
	margin-bottom: rem(35px);

	&.team-acco__item--active {
		.content-team {
			display: flex;
			max-height: rem(200px);
		}
		.team-acco__link {
			color: $yellow;
			&:before {
				transform: rotate(-180deg);
			}
		}
	}

}
.team-acco__item:last-child{
	margin-bottom: 0rem;
}
.team-acco__link {
    font-family: 'Gagalin-Regular';
	color: #fff;
	font-size: rem(14px);
	text-decoration: none;
	position: relative;
	display: inline-flex;
	margin-bottom: rem(20px);
	align-items: center;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
		height: 0;
	}
	&:before {
		border-top: rem(7px) solid $yellow;
		border-left: rem(7px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: 0rem solid transparent;
		transform: 0deg;
		transition: .3s;
	}
}

.content-team {
	width: 100%;
	height: 0rem;
	transition: .3s;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	height: auto;
	max-height: 0rem;
}

.content-team__avatar {
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
	width: rem(100px);
	height: rem(100px);
	margin-right: 2.0rem;
  }
  
.avatar-pic {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.text {
	font-family: Ubuntu;
	font-style: normal;
	font-stretch: normal;
	color: $white;
	letter-spacing: normal;
	text-align: left;
}
.text__header {
	font-size: rem(14px);
	font-weight: bold;
	line-height: 1.17;
}
  
.text__body {
	font-family: Ubuntu;
	font-size: rem(14px);
	font-weight: 300;
	line-height: 1.67;
	margin-top: rem(10px);
}