.form {
    width: 100%;
    background: url('/images/order_bg.jpg') 50% no-repeat;
	background-size: cover;
    position: relative;
    justify-content: center;
}

.form__wrapper {
    margin: 5rem 7rem;
}

.form__content {
    margin-top: 2rem;
    display: flex;
}

.form__content--left {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    width: 100%;
}

.form__content--right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__raw {
    margin-bottom: 1rem;
    display: flex;
}

.form__raw:last-child {
    margin-bottom: 0;
}

.form__label {
    margin-right: 2rem;
    flex: 1;
}

.form__label:last-child {
    margin-right: 0;
}

.form__subtitle {
    font-family: 'Ubuntu';
    display: block;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: left;
    color: #fff;
    margin-bottom: 0.5rem;
}

.form__input {
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
    border: 0.2rem solid transparent;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(34, 31, 31, 0.5);
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem;
    width: 100%;
}

.form__input:focus {
    border-color: #f9b43b;
}

.form__textarea {
    resize: none;
    height: 7.7rem;
    border-radius: 0.3rem;
    border: 0.1rem solid transparent;
}

.form__radio {
    flex: 1;
}

.form__button {
    text-align: right;
    margin-right: 2rem;
}

.form__button:last-child {
    margin-right: 0rem;
}

.dismiss {
    background-color: transparent;
}

.form__radio-input {
    display: none;
}

.form__radio-fake {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #c9c9c9;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}

.form__radio-fake:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    transition: .4s;
    background-color: #e35028;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.form__radio-input:checked + .form__radio-fake {
    transition: .4s;
    border-color: #e35028; 
}

.form__radio-input:checked + .form__radio-fake:after {
    height: 0.4rem;
    width: 0.4rem;
}

.form__radio-label {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.form__radio-label:last-child {
    margin-right: 0;
}

.form__radio-text {
    font-family: 'Ubuntu';
    font-weight: 300;
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
    text-align: left;
    color: $white;
}

.form__radio--wrap {
    display: flex;
}

.menu--other {
    margin-left: -7rem;
}

.square {
    border-radius: 0rem;
}

.button--delivery {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
}