.review__list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.review__item{
  width: 25%;
  height: 50%;
  filter: grayscale(100%);

  @include phones {
    width: 50%;
    height: 25%;
  }
}

.review__picture{
  position: relative;
  width: 100%;
  height: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: .3s;
  }

  &:hover {
    .overlay {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;

      @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    
    &:after {
      background: rgba(#141414, .7);
    }
  }
}

.review__avatar{
  height: 100%;
  width: 100%;    
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(.7);
  opacity: 0;
  padding: 5% 12% 0;
  transition: .3s;
  z-index: 10;
}

.overlay__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  color: #fff;
  font-size: rem(14px);
  margin-bottom: rem(30px);

  @include phones {
    font-size: rem(24px);
    text-align: center;
  }
}

.overlay__text{
  color: #ffffff;
  font-size: rem(14px);
  margin-bottom: rem(17px);

  @include phones {
    display: none;
  }
}

.overlay__button{
  border-radius: rem(5px);
  background-color: $grey;
  padding: rem(10px) rem(10px);
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  transition: .3s;
  &:hover {
    background-color: darken($grey, 5%);
  }
}
