.we-best {
    background-image: url("./../images/best_bg.jpg");
}
.content--we-best {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
}

.advantages {
    display: flex;
    margin-top: 2rem;
}

.advantages__item {
    margin-right: 6rem;
}
.advantages__item:last-child {
    margin-right: 0rem;
}
.advantages__icon{
    width: 90%;
    height: 5rem;
    svg {
      max-width: 95%;
    }
}
.advantages__desc{
    text-align: center;
    margin-top: 3.3rem;
}
.advantages__title{
    font-size: 1.5rem;
    font-family: 'Lifehack-Medium';
    white-space: nowrap;
    color: $black;
}
.advantages__text{
    text-align: justify;
    margin-top: 2.5rem;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 1.3rem;
    line-height: normal;
    color: #2f3234cc;
}